<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="de.appplant.cordova.plugin.hidden-statusbar-overlay"
        version="1.2.0">

    <name>HiddenStatusbarOverlay</name>

    <description>Cordova 3.x.x plugin to hide the statusbar and overlay on iOS</description>
    <repo>https://github.com/katzer/cordova-plugin-hidden-statusbar-overlay</repo>
    <keywords>statusbar, status bar, ios, overlay</keywords>
    <license>Apache 2.0</license>

    <author>Sebastián Katzer</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <config-file target="config.xml" parent="/*">
        <preference name="Fullscreen" value="true" />
    </config-file>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/hidden-statusbar-overlay.js" name="HiddenStatusbarOverlay">
            <clobbers target="plugin.statusbarOverlay" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="HiddenStatusbarOverlay">
                <param name="ios-package" value="APPHiddenStatusbarOverlay" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIStatusBarHidden">
            <true/>
        </config-file>

        <config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
            <false/>
        </config-file>

        <header-file src="src/ios/APPHiddenStatusbarOverlay.h" />
        <source-file src="src/ios/APPHiddenStatusbarOverlay.m" />
    </platform>
</plugin>
